$color-blue-1: #1db0fe;
$color-light-1: #fff;
$h1-size: 30px;
$h2-size: 24px;
$text-size: 20px;
h1{
  font-size: $h1-size;
  color: $color-blue-1;
  text-align: center;
  line-height: $h1-size * 3;
}

p{
  font-size: $text-size;
  text-align: justify;
  line-height: $text-size * 1.3;
  padding: 0 40px 40px;
}

.header {
  width: 100%;
  display: flex;
  justify-content: center;
  background: $color-blue-1;
  .container {
    display: flex;
    justify-content: space-between;
    width: 1280px;
    height: 50px;
    margin: 0 auto;
    .header-logo {
      width: 20%;
      img {
        height: 50px;
      }
    }
    .navigation {
      display: flex;
      justify-content: space-between;
      width: 80%;
      .navigation-list {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        .navigation-list-item {
          display: flex;
          align-items: center;
          .navigation-list-item-link {
            color:$color-light-1;
            font-size: 24px;
          }
        }
      }
    }
  }
}
.main {
  width: 100%;
  .slider {
    height: calc(100vh - 50px);
    background-color: $color-light-1;
    background-size: cover;
    background-position: center center;
    transition: background-image 1s ease-in-out;
    background-image: url("./../images/01.jpg");
  }
  .about_company{
    .container{
      width: 1280px;
      margin: 0px auto;
    }
  }
  .products{
    .container{
      width: 1280px;
      margin: 0px auto;
      padding: 40px;
      display: flex;
      justify-content: space-evenly;
      .category{
        width: 300px;
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0.7;
        h2{
          color: $color-light-1;
          font-weight: bold;
          font-size: $h2-size;
          text-align: center;
        }
      }
      .category:first-child{
        background-image: url('./../images/kopyta.jpg');
        background-size: cover;
        background-position: center center;
      }
      .category:nth-child(2){
        background-image: url('./../images/soderganie.jpg');
        background-size: cover;
        background-position: center center;
      }      
      .category:nth-child(3){
        background-image: url('./../images/vyima.jpg');
        background-size: cover;
        background-position: center center;
      }
    }
  }
}
